.main-container {
  /* height: 50rem; */
  padding: 5rem;
  margin: 5rem;
  flex-direction: column;
  background-color: #fff;
}

h1{
  text-align: center;
  margin-bottom: 10px;
}

.card{
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: 10px;
}

.card span{
 font-size: 15px;
}


.pages{
  display: flex;
  margin-top: 10px;
  gap: 10px;
}