.main-container {
  /* height: 50rem; */
  padding: 5rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.card{
  background-color: #f6f6f6;
  padding: 10px;
}

.card span{
 font-size: 15px;
}
